.bloc {
    display: inline-block;
    float: left;
    position: relative;
    width: 180px;
    height: 180px;
    margin: 20px;
}

.target {
    background-color: blue;
}

.trap {
    background-color: red;
}

.end {
    background-color: black;
}